body {
  width:100%;
  height:100%;
  background-color: darkgray;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
	padding: 60px;
	font-size: 30px;
	text-align: center;
	background-color: #222222;
	font-size: cal(14px + .4vw);
}

.header h1{
  padding-top: 70px;
  color:white;
  text-align: center;
  font-size: cal(18px + .8vw);
}

.header h2{
  text-align: center;
  color: lightgray;
  font-size: cal(15px +.5vw);
}

.navbar{
  background-color: gray;
  overflow: hidden;
  cursor: pointer;
}
  
.tab{
  overflow: hidden;
  float: left;
  color: white;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  font-size: 12px;

}

.tab >h2:hover{
  background-color: gray;
  color: black;
}


/* Home.css */
img {
  height: 300px;
  padding: 16px;
}

.home{
  display: flex;
}

.home p{
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-block: 10px;
}

/* Images.css*/

.gallary{
  padding:20px;
}

.gallary img {
  text-align: center;
  width: 30%;
  height: auto;
  text-decoration: none;
}

.gallary img:hover{
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* Videos.css*/
.vid{
  padding:20px;
  text-align: center;
}

video{
  padding:30px;
  width: 25%;
  height: auto;
}

/* Links.css*/
.link{
  padding: 50px;
  text-align: center;
}

/* Guest.css */
.messages {
  display: flex;
  margin: 20px;
}

.Guest {
  overflow-y: auto;
  width: 50%;    
}


input[type=text] {
  width: 100%;
}

textarea {
  width: 100%;
  height:50px;
}

dot {
  color: red;
}

select {
  width: 100%;
}


#sent_message {
  background-color: black;
  color:white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
}


.response {
overflow-y: auto;
width: 50%;
height: 70vh;
margin-left: 50px;
}


.date {
color: #222222;
font-size: 13px;
}


.name {
color:black;
font-weight: bold;
}


/* Movies.css */

.frame img{
  border: 10px solid darkgray;
  cursor: pointer;
  height: auto;
}


.frame img:hover{
transform: scale(1.1);
filter: brightness(1.2);
filter: drop-shadow(15px 15px 19px black);
}


.setting {
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.8);
  z-index: 1;
  overflow: auto;
  position: fixed;
  align-content: center;
  justify-content: center;
}

.appearance {
  width: 650px;
  max-width: 750px;
  margin: auto;
  background-color: darkgray;
  border: 10px black;
  display: flex;
  cursor: mouse;
}


.title {
  color: black;
  font-size: 30px;
  line-height: 90px;
}

.director {
  color: gray;
  font-size: 20px;
  line-height: 80%;
}

.rating {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(245, 218, 65);
  color: black;
  line-height: 50px;
}

.plot {
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding-block: 10px; 
  color: white;
}


/* Add Movies.css */

.movies {
  display: inline-block;
  height: auto;
  margin: 2%;
}

.movLightboxContainer {
  width: 800px;
  margin: auto;
  background-color: darkgray;
  display: flex;
  flex-direction: row;
}

.movLightboxImage {
  height: 100%;
  margin: auto;
  float: left;
  
}

.movLightboxContent {
  height: 100%;
  background-color: darkgray;
  margin: auto;
  padding: 0px 30px;
  float: right;
  max-width: 950px;
  
}

.movie-forms {
	display: flex;
  justify-content: space-between;
  float: center;
  flex-flow: row wrap;
  width:100%;
  background:darkgray;
  
}

.movie-add-forms {
  display: flex;
  float:right;
  flex-flow: row wrap;
  align-items: center;
  
}

.movie-form > div {
  
  float: center;
	position: relative;
	margin-top: 1.5em;
	padding: 0.5em;
	padding-right: 5em;
	width: 250px;
}

.movie-form > div > label {
  float: left;
  margin-right: 5px;
}

.movie-form > div > div{
  overflow: hidden;
}

.movie-form > div > input {
  flex-direction: row;
  font-size: 16px;
  width: 100%;
  display: block
}

.dropdown {
  margin: 10px;
  color: lightblue;
  width: 100px;
  border: lightblue;
}

select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
	border: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
    height: 50px;
    background:  transparent;
    -webkit-appearance: none;
    background-position-x: 175px;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select:focus {
	outline: black;
	outline-style: solid;
	outline-width: 1px;
}

.moviePoster {
	width: 330px;
  height: 500px;
	padding: 1em;
  cursor: pointer;

}

.delete-button-add {
	
	background-color: rgb(238, 59, 59);
	width: 70px;
	height: 30px;
}

.form-input-text:focus ~ span,
.form-input-text:not(:focus):required:valid ~ span,
.form-input-text:not(:focus):optional:not(:placeholder-shown) ~ span,
textarea:focus ~ span,
textarea:not(:focus):required:valid ~ span,
textarea:not(:focus):optional:not(:placeholder-shown) ~ span {
	top: -15px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

.form-input-text, textarea {
	width: 100%;
	border: none;
	padding-bottom: 10px;
	border-bottom: solid 1px black;
	transition: all 0.3s cubic-bezier(.64,.09,.08,1);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 98%, black 4%);
	background-position: -1000px 0;
	background-repeat: no-repeat;
	font-size: 16px;
}

.form-input-text:focus, textarea:focus {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}

.button{
  text-align: center;
}

.button:hover{
  background-color: darkgray;
  float: center;
}

.but{
  font-style: none;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 8px;
}